* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", "Verdana", "Geneva", "Tahoma", sans-serif;
    color: #1F2937;
}

body {
    font-size: 1.125rem;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.main-nav-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.main-nav-link a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 40%;
}

.hero-left-heading {
    font-size: 3rem;
    font-weight: 900;
}

.hero-left-signup-button {
    border: none;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    align-self: start;
    background-color: #3882f6;
    border-radius: 0.5rem;
    color: #f9faf8;
    font-size: 1.125rem;
    cursor: pointer;
}

.hero-right {
    flex-grow: 1;
    /* flex-shrink: 0; */
    display: flex;
    flex-basis: 40%;
}

.hero-right-image {
    flex-basis: 100%;
    align-self: start;
}



.about-school {
    margin-bottom: 5rem;
}

.about-school-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.about-school-heading {
    margin-bottom: 3rem;
    font-size: 2.25rem;
}

.about-school-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-school-list-item {
    display: flex;
    flex-direction: column;
    flex-basis: 15rem;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
}

.about-school-image-container {
    width: 100%;
    height: 15rem;
    background-size: cover;
    border: 5px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 1rem;
    flex-shrink: 0;
    background-position: center;
}

.about-school-list-item:nth-child(1) .about-school-image-container {
background-image: url(img/about-1.jpg);
}

.about-school-list-item:nth-child(2) .about-school-image-container {
background-image: url(img/hero-img.jpg);
}

.about-school-list-item:nth-child(3) .about-school-image-container {
background-image: url(img/about-3.jpg);
}

.about-school-list-item:nth-child(4) .about-school-image-container {
    background-image: url(img/about-4.jpg);
}





.quote {
    background-color: #e5e7eb;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.quote-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-cite {
    font-style: normal;
    font-weight: 900;
    align-self: flex-end;
}





.cta {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.cta-container {
    width: 80%;
    margin: 0 auto;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 1rem;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.cta-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 70%;
}

.cta-button {
    background-color: transparent;
    border: 2px solid #e5e7eb;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    color: #e5e7eb;
    font-size: 1.125rem;
    align-self: center;
    cursor: pointer;
}





.footer {
    background-color: #1F2937;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color:#e5e7eb;
}